image: python:3.12.8

stages:
  - run

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache:
  paths:
    - .cache/pip
    - data/

run_script:
  stage: run
  before_script:
    - pip install --upgrade pip
    - pip install -r requirements.txt
    - python -m playwright install --with-deps chromium
    - mkdir -p data
  script:
    - python -u link_monitor.py
  artifacts:
    when: always
    expire_in: 90 days
    paths:
      - data/*.json
      - data/*.txt
      - data/*.png
